.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0 5px 5px 1px grey;
  background: rgba(230, 231, 224, 0.9);
  text-align: center;
  border: solid rgb(189, 144, 62) 1px;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.8rem;
  width: 10rem;
  height: 12rem;
  cursor: pointer;
  transition: 0.4s;
  vertical-align: middle;
}

.card h2 {
  margin: 0.5rem;
}
.card p {
  font-size: 1.1rem;
  margin: 0.5rem;
}

.complete {
  color: green;
}

.incomplete {
  color: red;
}

.container :hover {
  background: #ce7c11;
  transform: scale(1.02);
  color: aliceblue;
}
